body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
  background-color: #f9f9f9;
  color: #333;
  direction: rtl;
  padding: 2rem;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: white;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  height: 5px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 15px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 15px;
}
h1,
h2,
h3 {
  color: #004080;
}
.section {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
table,
th,
td {
  border: 1px solid #ccc;
}
th,
td {
  padding: 10px;
  text-align: right;
}
th {
  background-color: #e6f0ff;
}
.note {
  background-color: #ffffcc;
  padding: 10px;
  margin-top: 10px;
  border-right: 5px solid #ffcc00;
}

.btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: black;
  color: white;
  border-radius: 20px;
}
.btn a {
  text-underline-offset: none;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

pre {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
}
